// Заготовка для сетки, в случае отключения bootstrap стилей

	@if $config {
		@each $group in $config {
			$groupName: map-get($group, 'name');
			$selector: map-get($group, 'selector');
			$items: map-get($group, 'options');
			@if $groupName == 'grid' {
				
				@each $item in $items {
					$selectorV2: map-get($item, 'selector');
					$container: map-get($item, 'value');
					$gutters: map-get($item, 'gutters');


					$selectorContainer: if($selectorV2 == '', 'container-fluid', #{'container-fluid'}-#{$selectorV2});
					$selectorRow: if($selectorV2 == '', 'row', #{'row'}-#{$selectorV2});
					$selectorColumn: if($selectorV2 == '', 'column', #{'column'}-#{$selectorV2});

					@include grid-layout($selectorContainer, $container, $selectorRow, $selectorColumn, $gutters);
					// @if $isBootstrap == false {
					// } @else {
					// 	@if $container != '1400' {
					// 		@include grid-layout($selectorContainer, $container, $selectorRow, $selectorColumn, $gutters);
					// 	}
					// }
				}
			}
		}
	}



