.alert {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: .7em 1em;
  color: var(--cf-0-1);
  border-radius: 5 / $fontSizeRelative + em;
  .alert__icon {
    flex-shrink: 0;
    margin-right: 10 / $fontSizeRelative + em;
    font-size: var(--h-5);
  }
  .alert__label {
    margin-right: 1em;
  }
  .alert__button-close {
    @extend .button-clear;
    margin-left: auto;
    padding: 5 / $fontSizeRelative + em;
    font-size: var(--text-4);
    color: var(--cf-2-8);
    margin-left: auto;
    &:hover {
      opacity: 0.8;
    }
  }
}

.alert-danger {
  border: 1px solid var(--bdc-3-0);
  background-color: var(--bgc-3-2);
  .alert__icon {
    color: var(--cf-5-0);
  }
}

.alert-success {
  background-color: var(--bgc-4-3);
  border: 1px solid var(--bdc-2-1);
  .alert__icon {
    color: var(--cf-3-4);
  }
}


.alert-limit {
  padding: 15 / $fontSizeRelative + em;
  align-items: stretch;
  border-left: 7 / $fontSizeRelative + em solid var(--bdc-3-1);
  // min-height: 82 / $fontSizeRelative + em;
  
  font-weight: 600;
  color: var(--cf-2-0);
  
  background-color: var(--bgc-3-1);
  border-radius: 5 / $fontSizeRelative + em;
  @include media(m, $xl) {
    padding: 20 / $fontSizeRelative + em 30 / $fontSizeRelative + em;
  }
  .alert__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40 / 20 + em;
    height: 40 / 20 + em;
    margin-right: 15 / 20 + em;
    flex-shrink: 0;
    
    font-size: var(--h-5);
    color: var(--cf-1-0);
    
    border-radius: 3 / 20 + em;
    background-color: var(--bgc-3-0);
    @include media(m, $sm) {
      margin-right: 20 / 20 + em;
    }
    @include media(m, $xl) {
      margin-right: 30 / 20 + em;
    }
  }
  .alert__icon {
    flex-shrink: 0;
    margin: 0;
  }
  .alert__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}