.button {
  @extend .button-clear;
}
.button-base {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7 / 14 + em 15 / 14 + em 6 / 14 + em;
  min-height: 45 / 14 + em;
  border: 2px solid transparent;

  font-size: var(--text-3);
  color: var(--cf-1-0);
  text-align: center;
  font-weight: 700;

  background-color: var(--bgc-4-0);
  border-radius: 5 / 14 + em;
  &:hover {
    background-color: var(--bgc-4-1);
    opacity: .9;
    color: var(--cf-1-0);
    text-decoration: none;
  }
  &:focus {
    border-color: var(--bdc-2-0);
  }
}


.button-secondary {
  @extend .button-base;
  border-width: 1px;
  border-color: var(--bdc-1-4);
  color: var(--cf-2-0);
  // background-color: var(--bgc-0-0);
  background-color: transparent;
  &:hover {
    // background-color: var(--bgc-0-0);
    background-color: transparent;
    border-color: var(--bdc-1-2);
    color: var(--cf-2-0);
    opacity: 1;
  }
  &:focus {
    border-color: var(--bdc-1-5);
  }
}


.button-third {
  @extend .button-base;
  border-width: 1px;
  border-color: var(--bdc-2-2);
  color: var(--cf-3-0);
  background-color: transparent;
  &:hover {
    background-color: transparent;
    opacity: 0.9;
    color: var(--cf-3-0);
  }
  &:focus {
    opacity: 0.85;
    border-color: var(--bdc-2-0);
  }
}