.card {

}

.card-layout {
  padding: 15 / $fontSizeRelative + em;
  border: 1px solid var(--bdc-1-4);
  background-color: var(--bgc-0-0);
  @extend .box-shadow-0;
  @extend .border-radius-0;
  @include media(m, $lg) {
    padding: 30 / $fontSizeRelative + em;
  }
}

.card-layout-secondary {
  @extend .card-layout;
  @extend .gradient-1;
  color: var(--cf-1-0);
}

.card-layout-third {
  @extend .card-layout;
  background-color: var(--bgc-4-2);
}

.card-layout-fourth {
  @extend .card-layout;
  background-color: var(--bgc-2-0);
  border: 1px solid var(--bdc-1-4);
  box-shadow: none;
  padding: 0;
}

.card-bot-stats {
  @extend .card-layout;
  // width: 455 / $fontSizeRelative + em;
  @include media(m, $xxl) {
    min-width: 300 / $fontSizeRelative + em;
    // width: 455 / $fontSizeRelative + em;
  }
  .card__ratio {
    width: 100%;
    --bs-aspect-ratio: calc(220 / 395 * 100%);
    margin-bottom: 20 / $fontSizeRelative + em;
  }
  .card__title {
    font-weight: 700;
    color: var(--cf-0-1);
    margin-bottom: .35em;
  }
  .card__username {
    font-size: var(--text-4);
    font-weight: 700;
    margin-bottom: 1em;
  }
}


.card-subscribers-stats {
  @extend .card-layout;
  @include media(m, $xxl) {
    min-width: 300 / $fontSizeRelative + em;
    // width: 605 / $fontSizeRelative + em;
  }
  .card__title {
    color: var(--cf-0-1);
    font-weight: 700;
    margin-bottom: 10 / $fontSizeRelative + em;
  }
  .card__title-sub {
    color: var(--cf-3-2);
    font-size: var(--text-3);
    font-weight: 700;
    margin-bottom: 1em;
  }
  .card__chart-ratio {
    width: 100%;
    --bs-aspect-ratio: calc(350 / 560 * 100%)
  }
}


.card-balance {
  @extend .card-layout;
  flex-direction: column;
  justify-content: space-between;
  @include media(m, $xxl) {
    min-width: 300 / $fontSizeRelative + em;
    // width: 350 / $fontSizeRelative + em;
  }
  .card__user-balance {
    padding: 10 / $fontSizeRelative + em;
    margin-bottom: 10 / $fontSizeRelative + em;
    color: var(--cf-1-0);
    border-radius: 5 / $fontSizeRelative + em;
    @extend .gradient-0;
    @include media(m, $lg) {
      padding: 20 / $fontSizeRelative + em;
      margin-bottom: 20 / $fontSizeRelative + em;
    }
  }
  .card__user-balance-label {
    font-size: var(--text-3);
    margin-bottom: 5 / 14 + em;
  }
  .card__user-balance-total {
    font-size: var(--h-5);
    font-weight: 700;
  }
}


.card-subscribers {
  @extend .card-layout;
  @include media(m, $xxl) {
    min-width: 300 / $fontSizeRelative + em;
    // width: 350 / $fontSizeRelative + em;

  }
  .card__head {
    margin-bottom: 25 / $fontSizeRelative + em;
  }
  .card__title {
    color: var(--cf-0-1);
    font-weight: 700;
  }
  .card__title-sub {
    font-size: var(--text-3);
    font-weight: 700;
    color: var(--cf-3-2);
  }
  .card__body {

  }
  .list-subscribers {

  }
  .card__foot {
    padding-top: 14 / $fontSizeRelative + em;
  }
}

.card-faq {
  @extend .card-layout-secondary;
  // flex-direction: column;
  justify-content: space-between;
  text-align: center;
  @include media(m, $xxl) {
    min-width: 300 / $fontSizeRelative + em;
    // width: 350 / $fontSizeRelative + em;
  }
  .card__head {
  }
  .card__title {
    font-size: var(--h5);
    font-weight: 700;
  }
  .card__body {
    width: 100%;
    padding: 10 / $fontSizeRelative + em 0;
  }
  .card__img {
    max-width: 170 / $fontSizeRelative + em;
    margin: 0 auto;
  }
  .card__foot {
  }
}



.card-credit {
  position: relative;
  overflow: hidden;
  padding: 20 / $fontSizeRelative + em;
  min-height: 212 / $fontSizeRelative + em;
  border: none;
  
  color: var(--cf-1-0);
  
  @extend .gradient-0;
  border-radius: 30 / $fontSizeRelative + em;
  @include media(m, $xl) {
    padding: 30 / $fontSizeRelative + em;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    width: 393 / $fontSizeRelative + em;
    height: 260 / $fontSizeRelative + em;
    border-radius: 50%;
    background-color: var(--bgc-5-1);
    opacity: 0.08;
    z-index: 2;
  }
  &:before {
    top: 100%;
    left: -100%;
    margin-left: 220 / $fontSizeRelative + em;
    margin-top: -100 / $fontSizeRelative + em;
  }
  &:after {
    bottom: 100%;
    right: -100%;
    margin-right: 220 / $fontSizeRelative + em;
    margin-bottom: -100 / $fontSizeRelative + em;
  }
  .card__in {
    position: relative;
    z-index: 3;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card__title {
    margin-bottom: 15 / $fontSizeRelative + em;
  }
  .card__title-sub {
    margin-bottom: 3 / 14 + em;
    font-size: var(--text-3);
    opacity: 0.54;
  }
  .card__title-main {

  }
  .form-control {
    height: 35 / 14 + em;
    padding: 5 / 14 + em 10 / 14 + em;
    background-color: var(--bgc-0-1);
    border-color: var(--bdc-0-1);
    color: var(--cf-1-0);
    
    @include iph() {
      color: var(--cf-1-0);
    }
  }
  .form-control-code {
    width: 215 / 14 + em;
  }
  .form-control-date {
    width: 54 / 14 + em;
  }
}



.card-categories {
  @extend .card-layout;
  padding-bottom: 15 / $fontSizeRelative + em;
  .card__responsive-element {
    overflow-x: auto;
  }
  .card__pagination-wrap {
    padding-top: 30 / $fontSizeRelative + em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .card__sidebar {
    @include media(m, $md) {
      width: 250 / $fontSizeRelative + em;
      min-height: 550 / $fontSizeRelative + em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .card__sidebar-foot {
    padding-top: 30 / $fontSizeRelative + em;
  }
}


.card-category {
  @extend .card-layout;
  padding: 12 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
  min-height: 60 / $fontSizeRelative + em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--cf-0-1);
  .card__button {
    @extend .button-clear;
    padding: .3em;
    color: var(--cf-2-4);

    opacity: 0.8;
    &--handle {
      font-size: var(--text-4);
      // color: var(--cf-2-5);
    }
    &--collapse-toggle {
      display: none;
      // color: var(--cf-2-4);
      font-size: var(--text-4);
      line-height: 1;
      .svg-icon {
        position: relative;
        top: -1px;
      }
      &[aria-expanded="true"] {
        .card__button-icon-show {
          display: none;
        }
        .card__button-icon-hide {
          display: inline-block;
        }
      }
      &.visible {
        display: block;
      }
    }
    &--edit {
      // color: var(--cf-2-4);
      font-size: var(--h-5);
    }
    &--delete {
      // color: var(--cf-2-7);
      font-size: var(--h-5);
    }
    &:hover {
      
      // color: var(--cf-5-0);
      color: var(--cf-0-1);
    }
  }
  .card__button-icon-show {
    // font-size: var(--text-4);
  }
  .card__button-icon-hide {
    display: none;
    // font-size: var(--text-1);
  }
  .card__item {
    flex-grow: 1;
    flex-shrink: 1;
    &:first-child {
      // max-width: 310 / $fontSizeRelative + em;
    }
    &:nth-child(2) {
      max-width: 150 / $fontSizeRelative + em;
    }
    &:last-child {
      max-width: 170 / $fontSizeRelative + em;
    }
  }
  .card__category-status {
    color: var(--cf-5-1);
    &--on {
      color: var(--cf-3-0);
    }
  }
  .card__button-wrap {
    padding-left: 30 / $fontSizeRelative + em;
    border-left: 1px solid var(--bdc-1-3);
  }
}



.card-user-settings {
  @extend .card-layout;
  padding: 0;
  .card__item {
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20 / $fontSizeRelative + em;
    border-bottom: 1px solid var(--bdc-1-4);
    @include media(m, $xl) {
      padding: 30 / $fontSizeRelative + em;
    }
    &:last-child {
      flex-grow: 1;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  .card__form {
    @include media(m, $xl) {
      // max-width: 585 / $fontSizeRelative + em;
      // margin-left: auto;
      // margin-right: auto;
    }
  }
}


.card-balance-secodary {
  @extend .card-balance;
  width: 100%;
  padding: 0;
  .card__in {
    padding: 15 / $fontSizeRelative + em;
    border-bottom: 1px solid var(--bdc-1-4);
    @include media(m, $xl) {
      padding: 30 / $fontSizeRelative + em 30 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
    }
    & + .card__in {
      padding-top: 20 / $fontSizeRelative + em;
    }
  }
  .card__user-balance {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 20 / $fontSizeRelative + em;
  }
  .card__user-balance-label {
    margin-right: 1em;
  }
}


.card-greetings {
  @extend .card-layout;
  .button {
    
  }
}


.card-good {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  .card__img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid var(--bdc1-5);
    // padding: 10px;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
  .card__body {
    // padding: 10px;
    padding-left: 20 / $fontSizeRelative + em;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .card__title {
    font-weight: 600;
  }
  .card__label {
    // font-size: var(--text-2);
    font-weight: 700;
  }
  .card__item {
    margin-bottom: 5 / $fontSizeRelative + em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}