.collapse-box {
  margin-bottom: 1em;
}
.collapse-box-base {
  .collapse-box__toggle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @extend .button-clear;
    color: var(--cf-2-0);
    font-weight: 700;
    text-align: left;
    // margin-bottom: 1em;
    .svg-icon {
      flex-shrink: 0;
      flex-grow: 0;
      margin-left: 1em;
      color: var(--cf-2-7);
      font-size: var(--text-4);
      transform: rotate(-90deg);
    }
    &:not(.collapsed) {
      .svg-icon {
        transform: rotate(90deg);
      }
    }
  }
  
  .list-categories {
    padding-top: 1em;
  }
  .link-nav-secondary {
    padding-left: 40 / $fontSizeRelative + em;
    padding-right: 10 / $fontSizeRelative + em;
  }
}


// .collapsing {
//   -webkit-transition: none;
//   transition: none;
//   display: none;
// }