.dropdown {
  &--lang {
    .dropdown-menu {
      // border: none;
      // background-color: var(--bgc-4-3);
      border-color: var(--bdc-1-4);
      @extend .box-shadow-4;
      // border-radius: 0;
      // z-index: 1;
    }
  }
}