.editor-base {
  .ck-editor {
    border: 1px solid var(--bdc-1-3) !important;
    border-radius: 5 / $fontSizeRelative + em !important;
    flex-grow: 1;
    font-size: var(--text-3);
  }
  .ck-toolbar {
    border-color: transparent !important;
    background-color: var(--bgc-2-0);
  }
  .ck-content {
    border-color: transparent !important;
  }
  .ck-editor__editable {
    border-color: transparent !important;
    box-shadow: none !important;
  }
  .ck-icon, .ck-icon * {
    color: var(--cf-0-1) !important;
  }
  .ck-editor__editable_inline {
    min-height: 200 / $fontSizeRelative + em;
  }
}

.editor-base-second {
  @extend .editor-base;
}


.editor-secondary {
  @extend .editor-base;
  .ck-editor__editable_inline {
    min-height: 350 / $fontSizeRelative + em;
  }
}