.link {
}
.link-base {
  // color: var(--cf-2-0);
}
.link-nav {
  display: flex;
  flex-wrap: nowrap;
  .svg-icon {
    font-size: var(--h-5);
    color: var(--cf-2-4);
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10 / 20 + em;
  }
  .link__label {
    font-weight: 700;
    color: var(--cf-2-0);
  }
  &:hover {
    text-decoration: none;
  }
  &.active {
    .svg-icon, .link__label {
      color: var(--cf-3-0)
    }
  }
}

.link-nav-secondary {
  @extend .link-nav;
  .link__label {
    font-weight: 400;
  }
  &:hover {
    .link__label, .svg-icon {
      color: var(--cf-3-0);
    }
  }
}


.link {
  &--lang {
    @extend .button-clear;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    // font-size: var(--text-4);
    color: var(--cf-2-0);
    padding: .5em 1.2em;
    // border-radius: 25 / 12 + em;
    text-decoration: none;
    img {
      width: 24px;
      height: 12px;
      margin-right: 0.5em;
      flex-shrink: 0;
      // object-fit: fill;
      // border: 1px solid #ccc;
      // box-shadow: 0 0 0 1px rgba(#000, .2);
    }
    &:after {
      margin-left: .5em;
    }
    &:hover {
      color: var(--cf-3-0);
    }
    &.dropdown-toggle {
      padding-left: 0;
      padding-right: 0;
    }
  }
}