.list {}

.list-categories {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    a {
      padding: 15 / $fontSizeRelative + em;
    }

    &:hover {
      a {
        background-color: var(--bgc-4-2);

        .link__label,
        .svg-icon {
          color: var(--cf-3-0);
        }

        .link-label {
          opacity: 0.8;
        }
      }
    }
  }
}


.list-stats {
  .list__list {
    padding: 0;
    list-style: none;
  }

  .list__item-head {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 8 / $fontSizeRelative + em;
  }

  .list__item-ratio {
    width: 21 / $fontSizeRelative + em;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: .4em;
  }

  .list__item-head-title {
    font-size: var(--text-4);
    color: var(--cf-2-3);
    font-weight: 700;
    flex-grow: 1;
  }

  .list__item-value {
    color: var(--cf-0-2);
    font-size: var(--h-4);
    font-weight: 700;
    margin-bottom: 10 / 24 + em;
  }

  .list__item-progressbar {
    position: relative;
    background-color: var(--bgc-1-1);
    height: 3px;
    border-radius: 1.5px;
    width: 100%;
    max-width: 65 / $fontSizeRelative + em;
  }

  .list__item-progressbar-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--bgc-5-0);
  }
}


.list-user-options {
  margin-bottom: 5 / $fontSizeRelative + em;

  .list__item {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 13 / $fontSizeRelative + em;
  }

  .list__item-icon-wrap {
    width: 42 / $fontSizeRelative + em;
    height: 42 / $fontSizeRelative + em;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10 / $fontSizeRelative + em;

    background-color: var(--bgc-2-0);
  }

  .list__item-icon {
    font-size: var(--h-5);
    color: var(--cf-3-0);
  }

  .list__item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
  }

  .list__item-main {
    font-size: var(--text-3);
    margin-bottom: 5 / $fontSizeRelative + em;

    strong {
      font-weight: 700;
      color: var(--cf-0-1);
    }
  }

  .list__item-status {
    font-size: var(--text-4);
  }
}



.list-subscribers {
  .list__item {
    margin-bottom: 14 / $fontSizeRelative + em;
  }

  .list__item-subscriber {
    display: flex;
    flex-wrap: nowrap;
  }

  .list__item-subscriber-avatar {
    width: 40 / $fontSizeRelative + em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 20 / $fontSizeRelative + em;
  }

  .list__item-subscriber-name {
    font-size: var(--text-3);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list__item-subscriber-date {
    font-size: var(--text-4);
    color: var(--cf-0-1);
    font-weight: 300;
  }
}

.list-stats-main, .list-stats-secondary {
  margin-bottom: 30 / $fontSizeRelative + em;
  .container-fluid {
    max-width: 100%;
  }
  .card {
    @include media(d, $md) {
      width: 100%;
    }
  }
}



.list-categories-secondary {
  background-color: var(--bgc-2-0);
  border: 1px solid var(--bdc-1-4);
  min-width: 910px;
  margin: 0 auto;
  border-radius: 5 / $fontSizeRelative + em;
  .list__head {
    padding: 20 / $fontSizeRelative + em;
    font-weight: 700;
    color: var(--cf-0-1);
    border-bottom: 1px solid var(--bdc-1-4);
  }
  .list__head-in {
    padding: 0 20 / $fontSizeRelative + em;
  }
  .list__head-item {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &:nth-child(2) {
      max-width: 150 / $fontSizeRelative + em;
    }
    &:last-child {
      max-width: 170 / $fontSizeRelative + em;
    }
  }
  .list__link-sort {
    color: var(--cf-2-4);
    font-size: var(--text-4);
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10 / $fontSizeRelative + em;
    flex-shrink: 0;
  }
  .list__body {
    padding: 0 20 / $fontSizeRelative + em 20 / $fontSizeRelative + em 0;
  }
  .list__group-item {
    padding: 20 / $fontSizeRelative + em 0 / $fontSizeRelative + em 0 20 / $fontSizeRelative + em;
    &:last-child {
      margin-bottom: 0;
    }
    .list__group-items {
      .card {
        .card__item {
          &:first-child {
            // max-width: 290 / $fontSizeRelative + em;
          }
        }
      }
    }
  }
}


.list-lang {
  overflow-x: auto;
  @extend .scroll-custom;
  padding-bottom: 10 / $fontSizeRelative + em;
  ul {
    @extend .list-clear;
    display: flex;
    flex-wrap: nowrap;
    li {
      margin-right: 20 / $fontSizeRelative + em;
      a {
        font-size: var(--text-4);
        color: var(--cf-2-0);
        font-weight: 700;
        &:hover {
          color: var(--cf-0-1);
          text-decoration: none;
        }
        &.active {
          color: var(--cf-3-0);
        }
      }
    } 
  }
}



.list-goods {
  @extend .list-categories-secondary;
  .list__head-item, .card__item {
    &:nth-child(2) {
      max-width: 150 / $fontSizeRelative + em !important;
    }
    &:nth-child(3) {
      max-width: 250 / $fontSizeRelative + em !important;
    }
    &:last-child {
      max-width: 270 / $fontSizeRelative + em !important;
    }
  }
}


.list-orders {
  @extend .list-categories-secondary;
  .list__head-item, .card__item {
    &:first-child {
      max-width: 130 / $fontSizeRelative + em !important;
    }
    &:nth-child(2) {
      max-width: none !important;
    }
    &:nth-child(3) {
      max-width: 190 / $fontSizeRelative + em !important;
    }
    &:nth-child(4) {
      max-width: 230 / $fontSizeRelative + em !important;
    }
    &:last-child {
      max-width: 170 / $fontSizeRelative + em !important;
    }
  }
}

.list-followers {
  @extend .list-categories-secondary;
  min-width: 680px;
  @include media(m, $md) {
    min-width: auto;
  }
  .list__head-item, .card__item {
    &:first-child {
      max-width: none !important;
    }
    &:last-child {
      max-width: 406 / $fontSizeRelative + em !important;
    }
  }
}


.list-pages {
  @extend .list-categories-secondary;
  .list__head-item, .card__item {
    &:first-child {
      max-width: none !important;
    }
    &:nth-child(2) {
      max-width: 340 / $fontSizeRelative + em !important;
      @include media(m, 1920) {
        max-width: 600 / $fontSizeRelative + em !important;
      }
      // max-width: none !important;
    }
    &:last-child {
      max-width: 200 / $fontSizeRelative + em !important;
    }
  } 
}


.list {
  &--lang {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    li {
      margin-right: .2em;
      &.active {
        a {
          background-color: var(--bgc-4-2);
          color: var(--cf-3-0);
          font-weight: 700;
          border: 1px solid var(--bdc-2-1);
        }
      }
    }
    a {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      font-size: var(--text-4);
      color: var(--cf-2-0);
      padding: .5em 1.2em;
      border-radius: 25 / 10 + em;
      text-decoration: none;
    }
    img {
      width: 20 / 10 + em;
      height: 10 / 10 + em;
      margin-right: 0.8em;
      flex-shrink: 0;
    }
  }
}


.list {
  &--lang-2 {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      margin-bottom: 0.1em;
    }
    a {
      @extend .link--lang;
    }
  }
}