.modal {

}
.modal-base {
  .modal-dialog {
    @include media(m, $sm) {
      max-width: 560 / $fontSizeRelative + em;
    }
  }
  .modal-content {
    border: none;
    padding: 20 / $fontSizeRelative + em;
    @extend .box-shadow-2;
    border-radius: 10 / $fontSizeRelative + em;
    background-color: var(--bgc-2-0);
    @include media(m, $xl) {
      padding: 50 / $fontSizeRelative + em;
    }
  }
  .modal-header {
    position: relative;
    padding: 0 40 / $fontSizeRelative + em 30 / $fontSizeRelative + em 0;
    border-bottom-color: var(--bdc-1-2);
  }
  .btn-close {
    position: absolute;
    top: -5 / $fontSizeRelative + em;
    right: 0 / $fontSizeRelative + em;
    z-index: 2;
    color: var(--cf-2-4);
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  h6 {
    color: var(--cf-2-0);
    margin: 0;
  }
  .modal-body {
    padding: 10 / $fontSizeRelative + em 0 20 / $fontSizeRelative + em;
  }
  .modal__link {
    font-size: var(--text-3);
    padding-left: 1em;
  }
  .modal-footer {
    display: block;
    padding: 0;
    border: none;
    & > * {
      margin: 0;
    }
  }
  .modal__footer-in {
    width: 100%;
  }
  .modal__payment-item {
    color: var(--cf-3-0);
    font-weight: 700;
    strong, span {
      color: var(--cf-0-1);
    }
    span {
      font-weight: 300;
    }
  }
  .modal__payment-card {
    padding: 15 / $fontSizeRelative + em;
    min-height: 318 / $fontSizeRelative + em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -20 / $fontSizeRelative + em;
    margin-right: -20 / $fontSizeRelative + em;
    margin-bottom: 20 / $fontSizeRelative + em;


    background-color: var(--bgc-4-2);
    @include media(m, $xl) {
      margin-left: -50 / $fontSizeRelative + em;
      margin-right: -50 / $fontSizeRelative + em;
    }
    .card-credit {
      width: 100%;
      max-width: 386 / $fontSizeRelative + em;
    }
  }
  .modal__payment-systems {
    img {
      max-width: 107 / $fontSizeRelative + em;
      max-height: 63 / $fontSizeRelative + em;
    }
  }
  hr {
    border-color: var(--bdc-1-3);
    margin: 20 / $fontSizeRelative + em 0;
  }
}


.modal__label {
  display: block;
  margin-bottom: 5 / $fontSizeRelative + em;

  color: var(--cf-0-1);
  font-weight: 600;
}
.modal__value {
  color: var(--cf-0-1);
  margin-bottom: 5 / $fontSizeRelative + em;
  font-weight: 400;
}