.pagination-base {
  .svg-icon {
    font-size: var(--text-4);
    position: relative;
    top: -1px;
    color: var(--cf-2-4);
  }
  .page-item {
    padding-left: 5 / $fontSizeRelative + em;
    padding-right: 5 / $fontSizeRelative + em;
    &:first-child {
      .page-link {
        border-color: transparent;
      }
    }
    &:last-child {
      .page-link {
        border-color: transparent;
      }
      .svg-icon {
        transform: rotate(180deg);
      }
    }
    &.active {
      .page-link {
        background-color: var(--bgc-1-7);
        border-color: var(--bdc-1-5);
        &:hover {
          transform: scale(1);
        }
      }
      .page-link {
        background-color: var(--bgc-4-0);
        border-color: var(--bdc-2-2);
        // border: 1px solid var(--bdc-1-5);
        &:hover {
       
        }
      }
    }
    &:first-child,  &:last-child {
      .page-link {
        &:hover {
          background-color: transparent;
          .svg-icon {
            color: var(--cf-0-1);
          }

        }
      }
    }
  }
  .page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7 / $fontSizeRelative + em 5 / $fontSizeRelative + em 5 / $fontSizeRelative + em;
    font-size: var(--text-3);
    color: var(--cf-2-0);
    width: 28 / 14 + em;
    height: 28 / 14 + em;
    border-radius: 5 / 14 + em;
    border: 1px solid var(--bdc-1-5);
    &:hover {
      text-decoration: none;
      background-color: var(--bgc-1-7);
      color: #fff;
      // background-color: transparent;
      // transform: scale(.95);
    }
  }
}