.tabs {
  &--languages {
    .nav-tabs {
      border: none;
      display: inline-flex;
      flex-wrap: nowrap;
      transition: linear .1s;
      &.no-indents {
        margin-bottom: -10 / $fontSizeRelative + em;
        .nav-item {
          // margin-bottom: 0;
        }
      }
    }
    .nav-item {
      margin-right: 16 / $fontSizeRelative + em;
      margin-bottom: 10 / $fontSizeRelative + em;
      margin-left: 2px;
    }
    .nav-link {
      padding: 0;
      border: none;
      margin: 0;
      background-color: transparent;

      color: var(--cf-2-0);
      font-size: var(--text-4);
      text-decoration: none;
      font-weight: 700;
      &.active {
        color: var(--cf-3-0);
        background-color: transparent;
      }
      &:hover {
        &:not(.active) {
          color: var(--cf-0-1);
        }
      }
    }
    .table-responsive {
      @extend .scroll-custom;
      overflow-x: auto;
      overflow-y: hidden !important;
      // padding-bottom: -3px;
      // padding-bottom: 10 / $fontSizeRelative + em;
    }
    .tab-content {
      padding-top: 20 / $fontSizeRelative + em;
    }
  }
}