.layout-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.active {
    @include media(d, $xl) {
      .layout__sidebar-btn-base {
        display: none;
      }
      .layout__sidebar-btn-second {
        display: block;
      }
    }
    .layout__sidebar {
      @include media(d, $xl) {
        left: 0;
      }
    }
  }
}

.layout__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.layout__sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 280 / $fontSizeRelative + em;
  padding-top: 80 / $fontSizeRelative + em;
  transition: linear .2s;
  @include media(d, $xl) {
    width: 100%;
    left: -100%;
  }
}

.layout__sidebar-in {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bgc-1-6);
  .nav {
    height: 100%;
  }
}

.layout__sidebar-scroll {
  flex-grow: 1;
  // padding: 25 / $fontSizeRelative + em 0;
  // height: 100%;
  // overflow-y: auto;

}

.layout__sidebar-btn-base,
.layout__sidebar-btn-second {
  top: 5.5em;
  z-index: 9;
  cursor: pointer;
  padding: 1em;
}

.layout__sidebar-btn-base {
  position: fixed;
  left: 0;
  z-index: 2;
  @include media(m, $xl) {
    display: none;
  }
}

.layout__sidebar-btn-second {
  position: absolute;
  right: 1em;
  transform: rotate(180deg);
  display: none;
}

.layout__sidebar.active .layout__sidebar-btn-base {
  display: none;
}

.layout__sidebar.active .layout__sidebar-btn-second {
  display: block;
}

.layout__sidebar-btn-base .svg-icon,
.layout__sidebar-btn-second .svg-icon {
  color: var(--cf-2-0);
  font-size: var(--h-5);
}

.layout__content {
  height: 100%;
  overflow-y: auto;
  padding: 110 / $fontSizeRelative + em 15 / $fontSizeRelative + em 0 50 / $fontSizeRelative + em;
  @include media(m, $xl) {
    padding: 110 / $fontSizeRelative + em 15 / $fontSizeRelative + em 0 310 / $fontSizeRelative + em;
  }
}

.layout__footer {
  margin-top: auto;
}

.layout__alert {
  position: fixed;
  top: 45 / $fontSizeRelative + em;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  .alert {
    min-width: 350 / $fontSizeRelative + em;
    @include media(m, $sm) {
      width: 450 / $fontSizeRelative + em;
    }
  }
}


.layout__content-main {
  // width: 585 / $fontSizeRelative + em;
}
.layout__content-aside {
  @include media(m, $xl) {
    width: 475 / $fontSizeRelative + em;
  }
  .card {
    margin-bottom: 30 / $fontSizeRelative + em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}