<div class="mb-3">
  <div class="alert alert-danger" role="alert">
    <div class="alert__icon">
      <svg class='svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-error'></use>
      </svg>
    </div>
    <div class="alert__label">A simple danger alert—check it out!</div>
    <button class="alert__button-close" type="button">
      <svg class='svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-close'></use>
      </svg>
    </button>
  </div>
</div>

<div class="mb-3">
  <div class="alert alert-success" role="alert">
    <svg class='alert__icon svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-ready'></use>
    </svg>
    <div class="alert__label">A simple success alert—check it out!</div>
    <button class="alert__button-close" type="button">
      <svg class='svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-close'></use>
      </svg>
    </button>
  </div>
</div>

<div class="mb-3">
  <div class="alert alert-limit" role="alert">
    <div class="alert__icon-wrap">
      <svg class='alert__icon svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-check'></use>
      </svg>
    </div>
    <div class="alert__label">Воспользоваться данной услугой Вы сможете через 7 часов 15 минут</div>
  </div>
</div>