<div class="mb-3">
  <div class="card card-layout">card wrap</div>
</div>
<div class="mb-3">
  <div class="card card-layout-secondary">card wrap #2</div>
</div>
<div class="mb-3">
  <div class="card card-layout-third">card wrap #3</div>
</div>
<div class="mb-3">
  <div class="card card-layout-fourth"><div class="p-3">card wrap #5</div></div>
</div>

<div class="mb-3">
  <div class="card card-bot-stats">
    <div class="card__ratio ratio">
      <img src="img/img-bot-stats.svg" alt="">
    </div>
    <div class="card__title">Статистика бота</div>
    <div class="card__username">@username</div>
    <div class="list list-stats">
      <ul class="list__list row row-cols-1 row-cols-sm-2 row-cols-md-auto gx-3 gy-3">
        <li class="list__item col">
          <div class="list__item-head">
            <div class="list__item-ratio ratio ratio-1x1">
              <img src="img/icon-stats-0.svg" alt="">
            </div>
            <div class="list__item-head-title">Категорий</div>
          </div>
          <div class="list__item-body">
            <div class="list__item-value">4</div>
            <div class="list__item-progressbar">
              <div class="list__item-progressbar-line" style="width: 10%">&nbsp;</div>
            </div>
          </div>
        </li>
        <li class="list__item col">
          <div class="list__item-head">
            <div class="list__item-ratio ratio ratio-1x1">
              <img src="img/icon-stats-1.svg" alt="">
            </div>
            <div class="list__item-head-title">Страниц</div>
          </div>
          <div class="list__item-body">
            <div class="list__item-value">14</div>
            <div class="list__item-progressbar">
              <div class="list__item-progressbar-line" style="width: 20%">&nbsp;</div>
            </div>
          </div>
        </li>
        <li class="list__item col">
          <div class="list__item-head">
            <div class="list__item-ratio ratio ratio-1x1">
              <img src="img/icon-stats-2.svg" alt="">
            </div>
            <div class="list__item-head-title">Товаров</div>
          </div>
          <div class="list__item-body">
            <div class="list__item-value">19</div>
            <div class="list__item-progressbar">
              <div class="list__item-progressbar-line" style="width: 25%">&nbsp;</div>
            </div>
          </div>
        </li>
        <li class="list__item col">
          <div class="list__item-head">
            <div class="list__item-ratio ratio ratio-1x1">
              <img src="img/icon-stats-3.svg" alt="">
            </div>
            <div class="list__item-head-title">Подписчиков</div>
          </div>
          <div class="list__item-body">
            <div class="list__item-value">82</div>
            <div class="list__item-progressbar">
              <div class="list__item-progressbar-line" style="width: 35%">&nbsp;</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="card card-subscribers-stats">
    <div class="card__title">Статистка подписчиков</div>
    <div class="card__title-sub">на 4% больше в этом месяце</div>
    <div class="card__chart-ratio ratio">
      <canvas class="chart" data-element="chart"></canvas>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="card card-balance">
    <div class="card__user-balance">
      <div class="card__user-balance-label">Ваш счет</div>
      <div class="card__user-balance-total">25000.00 сум</div>
    </div>
    <div class="list list-user-options">
      <div class="list__item">
        <div class="list__item-icon-wrap">
          <svg class='list__item-icon svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
        </div>
        <div class="list__item-body">
          <div class="list__item-main"><strong>Ваш тариф:</strong> Premium</div>
          <div class="list__item-status">Активен до 2022-07-30</div>
        </div>
      </div>
      <div class="list__item">
        <div class="list__item-icon-wrap">
          <svg class='list__item-icon svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-rate'></use>
          </svg>
        </div>
        <div class="list__item-body">
          <div class="list__item-main"><strong>Ваш бот:</strong> Имя бота</div>
          <div class="list__item-status">Статус бота: включен</div>
        </div>
      </div>
    </div>
    <a class="button button-base" href="#">Пополнить счёт</a>
  </div>
</div>

<div class="mb-3">
  <div class="card card-subscribers">
    <div class="card__head">
      <span class="card__title">Новые подписчики</span>
      <span class="card__title-sub">+5 за неделю</span>
    </div>
    <div class="card__body">
      <div class="list list-subscribers">
        <div class="list__item">
          <div class="row row-cols-auto align-items-center justify-content-between gy-2 gx-2">
            <div class="col">
              <div class="list__item-subscriber">
                <div class="list__item-subscriber-avatar ratio ratio-1x1">
                  <img src="img/img-subscriber-0.png" alt="">
                </div>
                <div class="list__item-subscriber-name">fiueyy</div>
              </div>
            </div>
            <div class="col">
              <div class="list__item-subscriber-date">15.02.2021</div>
            </div>
          </div>
        </div>
        <div class="list__item">
          <div class="row row-cols-auto align-items-center justify-content-between gy-2 gx-2">
            <div class="col">
              <div class="list__item-subscriber">
                <div class="list__item-subscriber-avatar ratio ratio-1x1">
                  <img src="img/img-subscriber-1.png" alt="">
                </div>
                <div class="list__item-subscriber-name">andhdy</div>
              </div>
            </div>
            <div class="col">
              <div class="list__item-subscriber-date">25.02.2021</div>
            </div>
          </div>
        </div>
        <div class="list__item">
          <div class="row row-cols-auto align-items-center justify-content-between gy-2 gx-2">
            <div class="col">
              <div class="list__item-subscriber">
                <div class="list__item-subscriber-avatar ratio ratio-1x1">
                  <img src="img/img-subscriber-2.png" alt="">
                </div>
                <div class="list__item-subscriber-name">ivanovvv</div>
              </div>
            </div>
            <div class="col">
              <div class="list__item-subscriber-date">31.01.2021</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card__foot">
      <a class="button button-secondary" href="#">Подробнее</a>
    </div>   
  </div>   
</div>  
            
            
<div class="mb-3">
  <div class="card card-faq">
    <div class="card__head">
      <div class="card__title">Возникли вопросы?</div>
    </div>
    <div class="card__body">
      <div class="card__img ratio ratio-1x1">
        <img src="img/img-faq.svg" alt="">
      </div>    
    </div>
    <div class="card__foot">
      <a class="button button-base" href="#">Файлы помощи</a>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card-credit">
    <div class="card__in">
      <div class="card__title">
        <div class="card__title-sub">Укажите</div>
        <div class="card__title-main">Номер карты <br> и срок действия</div>
      </div>
      <div class="row row-cols-auto flex-nowrap gy-3 gx-3">
        <div class="col flex-grow-1 flex-shrink-1">
          <input
            class="form-control form-control-code"
            type="text"
            placeholder="____ ____ ____ ____"
            data-element="mask"
            data-inputmask="'mask': '9999 9999 9999 9999'"
          >
        </div>
        <div class="col">
          <input
            class="form-control form-control-date"
            type="text"
            placeholder="__/__"
            data-element="mask"
            data-inputmask="'mask': '99/99'"
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card-category">
    <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
      <div class="card__item col">
        <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
          <div class="col me-3">
            <button class="card__button card__button--handle" type="button" data-element="handle">
              <svg class='svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-dots'></use>
              </svg>
            </button>
          </div>
          <div class="col">
            <button
              class="card__button card__button--collapse-toggle"
              type="button"
            >
              <svg class='card__button-icon-show svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-plus'></use>
              </svg>
              <svg class='card__button-icon-hide svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-minus'></use>
              </svg>
            </button>
            <!-- <button
              class="card__button card__button--collapse-toggle"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#sortable-collapse-0"
              aria-expanded="false"
              aria-controls="sortable-collapse"
            >
              <svg class='card__button-icon-show svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-plus'></use>
              </svg>
              <svg class='card__button-icon-hide svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-minus'></use>
              </svg>
            </button> -->
          </div>
          <div class="col">
            <div class="card__category-slug">1</div>
          </div>
        </div>
      </div>
      <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
      <div class="card__item col">
        <div class="row row-cols-auto align-items-center gx-3 gy-3">
          <div class="col me-auto">
            <div class="card__category-status card__category-status--on">вкл.</div>
          </div>
          <div class="col">
            <div class="row row-cols-auto gx-0 gy-0 align-items-center">
              <div class="col">
                <button class="card__button card__button--edit" type="button">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                  </svg>
                </button>
              </div>
              <div class="col">
                <button class="card__button card__button--delete" type="button">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


                                                                                                                                                                                             