<div class="mb-3">
  
  
  <div class="list list-categories-secondary">
    <div class="list__head">
      <div class="list__head-in">
        <div class="list__head-row row row-cols-auto flex-nowrap gx-3 gy-3">
          <div class="list__head-item col">
            
            <a class="list__link-sort" href="#">
              <svg class='svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-sort'></use>
              </svg>
            </a>
            <div class="list__head-item-label">Название</div>
            
          </div>
          <div class="list__head-item col">
            
            <a class="list__link-sort" href="#">
              <svg class='svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-sort'></use>
              </svg>
            </a>
            <div class="list__head-item-label">Товары</div>
            
          </div>
          <div class="list__head-item col">
            
            <a class="list__link-sort" href="#">
              <svg class='svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-sort'></use>
              </svg>
            </a>
            <div class="list__head-item-label">Статус</div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="list__body">
      <div class="list__group-items" data-element="sortable">
        <div class="list__group-item">
          <div class="card card-category">
            <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
              <div class="card__item col">
                <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                  <div class="col me-3">
                    <button class="card__button card__button--handle" type="button" data-element="handle">
                      <svg class='svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                      </svg>
                    </button>
                  </div>
                  <div class="col">
                    <button
                      class="card__button card__button--collapse-toggle"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#sortable-collapse-0"
                      aria-expanded="false"
                      aria-controls="sortable-collapse"
                    >
                      <svg class='card__button-icon-show svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                      </svg>
                      <svg class='card__button-icon-hide svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                      </svg>
                    </button>
                  </div>
                  <div class="col">
                    <div class="card__category-slug">1</div>
                  </div>
                </div>
              </div>
              <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
              <div class="card__item col">
                <div class="row row-cols-auto align-items-center gx-3 gy-3">
                  <div class="col me-auto">
                    <div class="card__category-status card__category-status--on">вкл.</div>
                  </div>
                  <div class="col">
                    <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                      <div class="col">
                        <button class="card__button card__button--edit" type="button">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <button class="card__button card__button--delete" type="button">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list__group-items collapse" id="sortable-collapse-0"  data-element="sortable">
            <div class="list__group-item">
              <div class="card card-category">
                <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                  <div class="card__item col">
                    <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                      <div class="col me-3">
                        <button class="card__button card__button--handle" type="button" data-element="handle">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="card__button card__button--collapse-toggle"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#sortable-collapse-0-0"
                          aria-expanded="false"
                          aria-controls="sortable-collapse"
                        >
                          <svg class='card__button-icon-show svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                          </svg>
                          <svg class='card__button-icon-hide svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <div class="card__category-slug">1.1</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                  <div class="card__item col">
                    <div class="row row-cols-auto align-items-center gx-3 gy-3">
                      <div class="col me-auto">
                        <div class="card__category-status card__category-status--on">вкл.</div>
                      </div>
                      <div class="col">
                        <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                          <div class="col">
                            <button class="card__button card__button--edit" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                              </svg>
                            </button>
                          </div>
                          <div class="col">
                            <button class="card__button card__button--delete" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="list__group-items collapse"
                id="sortable-collapse-0-0"
                data-element="sortable"
              >
                <div class="list__group-item">
                  <div class="card card-category">
                    <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                      <div class="card__item col">
                        <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                          <div class="col me-3">
                            <button class="card__button card__button--handle" type="button" data-element="handle">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                              </svg>
                            </button>
                          </div>
                          <div class="col">
                            <button
                              class="card__button card__button--collapse-toggle"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#sortable-collapse-0-0-0"
                              aria-expanded="false"
                              aria-controls="sortable-collapse"
                            >
                              <svg class='card__button-icon-show svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                              </svg>
                              <svg class='card__button-icon-hide svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                              </svg>
                            </button>
                          </div>
                          <div class="col">
                            <div class="card__category-slug">1.1.1</div>
                          </div>
                        </div>
                      </div>
                      <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                      <div class="card__item col">
                        <div class="row row-cols-auto align-items-center gx-3 gy-3">
                          <div class="col me-auto">
                            <div class="card__category-status card__category-status--on">вкл.</div>
                          </div>
                          <div class="col">
                            <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                              <div class="col">
                                <button class="card__button card__button--edit" type="button">
                                  <svg class='svg-icon'>
                                    <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                                  </svg>
                                </button>
                              </div>
                              <div class="col">
                                <button class="card__button card__button--delete" type="button">
                                  <svg class='svg-icon'>
                                    <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="list__group-items collapse"
                    id="sortable-collapse-0-0-0"
                    data-element="sortable"
                  >
                    <div class="list__group-item">
                      <div class="card card-category">
                        <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                          <div class="card__item col">
                            <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                              <div class="col me-3">
                                <button class="card__button card__button--handle" type="button" data-element="handle">
                                  <svg class='svg-icon'>
                                    <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                                  </svg>
                                </button>
                              </div>
                              <div class="col">
                                <button
                                  class="card__button card__button--collapse-toggle"
                                  type="button"
                                  data-bs-toggle="collapse"
                                  data-bs-target="#sortable-collapse-0-0-0-0"
                                  aria-expanded="false"
                                  aria-controls="sortable-collapse"
                                >
                                  <svg class='card__button-icon-show svg-icon'>
                                    <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                                  </svg>
                                  <svg class='card__button-icon-hide svg-icon'>
                                    <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                                  </svg>
                                </button>
                              </div>
                              <div class="col">
                                <div class="card__category-slug">1.1.1.1</div>
                              </div>
                            </div>
                          </div>
                          <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                          <div class="card__item col">
                            <div class="row row-cols-auto align-items-center gx-3 gy-3">
                              <div class="col me-auto">
                                <div class="card__category-status card__category-status--on">вкл.</div>
                              </div>
                              <div class="col">
                                <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                                  <div class="col">
                                    <button class="card__button card__button--edit" type="button">
                                      <svg class='svg-icon'>
                                        <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                                      </svg>
                                    </button>
                                  </div>
                                  <div class="col">
                                    <button class="card__button card__button--delete" type="button">
                                      <svg class='svg-icon'>
                                        <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="list__group-items collapse"
                        id="sortable-collapse-0-0-0-0"
                        data-element="sortable"
                      >
                        <div class="list__group-item">
                          <div class="card card-category">
                            <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                              <div class="card__item col">
                                <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                                  <div class="col me-3">
                                    <button class="card__button card__button--handle" type="button" data-element="handle">
                                      <svg class='svg-icon'>
                                        <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                                      </svg>
                                    </button>
                                  </div>
                                  <div class="col">
                                    <button
                                      class="card__button card__button--collapse-toggle"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      data-bs-target="#sortable-collapse-0-0-0-0-0"
                                      aria-expanded="false"
                                      aria-controls="sortable-collapse"
                                    >
                                      <svg class='card__button-icon-show svg-icon'>
                                        <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                                      </svg>
                                      <svg class='card__button-icon-hide svg-icon'>
                                        <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                                      </svg>
                                    </button>
                                  </div>
                                  <div class="col">
                                    <div class="card__category-slug">1.1.1.1.1</div>
                                  </div>
                                </div>
                              </div>
                              <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                              <div class="card__item col">
                                <div class="row row-cols-auto align-items-center gx-3 gy-3">
                                  <div class="col me-auto">
                                    <div class="card__category-status card__category-status--on">вкл.</div>
                                  </div>
                                  <div class="col">
                                    <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                                      <div class="col">
                                        <button class="card__button card__button--edit" type="button">
                                          <svg class='svg-icon'>
                                            <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                                          </svg>
                                        </button>
                                      </div>
                                      <div class="col">
                                        <button class="card__button card__button--delete" type="button">
                                          <svg class='svg-icon'>
                                            <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="list__group-items collapse"
                            id="sortable-collapse-0-0-0-0-0"
                            data-element="sortable"
                          >
                            <div class="list__group-item">
                              <div class="card card-category">
                                <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                                  <div class="card__item col">
                                    <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                                      <div class="col me-3">
                                        <button class="card__button card__button--handle" type="button" data-element="handle">
                                          <svg class='svg-icon'>
                                            <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                                          </svg>
                                        </button>
                                      </div>
                                      <div class="col">
                                        <button
                                          class="card__button card__button--collapse-toggle"
                                          type="button"
                                          data-bs-toggle="collapse"
                                          data-bs-target="#sortable-collapse-0-0-0-0-0-0"
                                          aria-expanded="false"
                                          aria-controls="sortable-collapse"
                                        >
                                          <svg class='card__button-icon-show svg-icon'>
                                            <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                                          </svg>
                                          <svg class='card__button-icon-hide svg-icon'>
                                            <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                                          </svg>
                                        </button>
                                      </div>
                                      <div class="col">
                                        <div class="card__category-slug">1.1.1.1.1.1</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                                  <div class="card__item col">
                                    <div class="row row-cols-auto align-items-center gx-3 gy-3">
                                      <div class="col me-auto">
                                        <div class="card__category-status card__category-status--on">вкл.</div>
                                      </div>
                                      <div class="col">
                                        <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                                          <div class="col">
                                            <button class="card__button card__button--edit" type="button">
                                              <svg class='svg-icon'>
                                                <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                                              </svg>
                                            </button>
                                          </div>
                                          <div class="col">
                                            <button class="card__button card__button--delete" type="button">
                                              <svg class='svg-icon'>
                                                <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                                              </svg>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="list__group-items collapse"
                                id="sortable-collapse-0-0-0-0-0-0"
                                data-element="sortable"
                              >
                                <div class="list__group-item">
                                  <div class="card card-category">
                                    <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                                      <div class="card__item col">
                                        <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                                          <div class="col me-3">
                                            <button class="card__button card__button--handle" type="button" data-element="handle">
                                              <svg class='svg-icon'>
                                                <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                                              </svg>
                                            </button>
                                          </div>
                                          <div class="col">
                                            <button
                                              class="card__button card__button--collapse-toggle"
                                              type="button"
                                              data-bs-toggle="collapse"
                                              data-bs-target="#sortable-collapse-0-0-0-0-0-0-0"
                                              aria-expanded="false"
                                              aria-controls="sortable-collapse"
                                            >
                                              <svg class='card__button-icon-show svg-icon'>
                                                <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                                              </svg>
                                              <svg class='card__button-icon-hide svg-icon'>
                                                <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                                              </svg>
                                            </button>
                                          </div>
                                          <div class="col">
                                            <div class="card__category-slug">1.1.1.1.1.1.1</div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                                      <div class="card__item col">
                                        <div class="row row-cols-auto align-items-center gx-3 gy-3">
                                          <div class="col me-auto">
                                            <div class="card__category-status card__category-status--on">вкл.</div>
                                          </div>
                                          <div class="col">
                                            <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                                              <div class="col">
                                                <button class="card__button card__button--edit" type="button">
                                                  <svg class='svg-icon'>
                                                    <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                                                  </svg>
                                                </button>
                                              </div>
                                              <div class="col">
                                                <button class="card__button card__button--delete" type="button">
                                                  <svg class='svg-icon'>
                                                    <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                                                  </svg>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="list__group-items collapse"
                                    id="sortable-collapse-0-0-0-0-0-0-0"
                                    data-element="sortable"
                                  >
                                    <div class="list__group-item">
                                      <div class="card card-category">
                                        <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                                          <div class="card__item col">
                                            <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                                              <div class="col me-3">
                                                <button class="card__button card__button--handle" type="button" data-element="handle">
                                                  <svg class='svg-icon'>
                                                    <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                                                  </svg>
                                                </button>
                                              </div>
                                              <div class="col">
                                                <button
                                                  class="card__button card__button--collapse-toggle"
                                                  type="button"
                                                  data-bs-toggle="collapse"
                                                  data-bs-target="#sortable-collapse-0-0-0-0-0-0-0-0"
                                                  aria-expanded="false"
                                                  aria-controls="sortable-collapse"
                                                >
                                                  <svg class='card__button-icon-show svg-icon'>
                                                    <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                                                  </svg>
                                                  <svg class='card__button-icon-hide svg-icon'>
                                                    <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                                                  </svg>
                                                </button>
                                              </div>
                                              <div class="col">
                                                <div class="card__category-slug">1.1.1.1.1.1.1</div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                                          <div class="card__item col">
                                            <div class="row row-cols-auto align-items-center gx-3 gy-3">
                                              <div class="col me-auto">
                                                <div class="card__category-status card__category-status--on">вкл.</div>
                                              </div>
                                              <div class="col">
                                                <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                                                  <div class="col">
                                                    <button class="card__button card__button--edit" type="button">
                                                      <svg class='svg-icon'>
                                                        <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                                                      </svg>
                                                    </button>
                                                  </div>
                                                  <div class="col">
                                                    <button class="card__button card__button--delete" type="button">
                                                      <svg class='svg-icon'>
                                                        <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                                                      </svg>
                                                    </button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list__group-item">
          <div class="card card-category">
            <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
              <div class="card__item col">
                <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                  <div class="col me-3">
                    <button class="card__button card__button--handle" type="button" data-element="handle">
                      <svg class='svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                      </svg>
                    </button>
                  </div>
                  <div class="col">
                    <button
                      class="card__button card__button--collapse-toggle"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#sortable-collapse-1"
                      aria-expanded="false"
                      aria-controls="sortable-collapse"
                    >
                      <svg class='card__button-icon-show svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                      </svg>
                      <svg class='card__button-icon-hide svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                      </svg>
                    </button>
                  </div>
                  <div class="col">
                    <div class="card__category-slug">2</div>
                  </div>
                </div>
              </div>
              <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
              <div class="card__item col">
                <div class="row row-cols-auto align-items-center gx-3 gy-3">
                  <div class="col me-auto">
                    <div class="card__category-status card__category-status--on">вкл.</div>
                  </div>
                  <div class="col">
                    <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                      <div class="col">
                        <button class="card__button card__button--edit" type="button">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <button class="card__button card__button--delete" type="button">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list__group-items collapse" id="sortable-collapse-1"  data-element="sortable">
            <div class="list__group-item">
              <div class="card card-category">
                <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                  <div class="card__item col">
                    <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                      <div class="col me-3">
                        <button class="card__button card__button--handle" type="button" data-element="handle">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="card__button card__button--collapse-toggle"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#sortable-collapse-1-0"
                          aria-expanded="false"
                          aria-controls="sortable-collapse"
                        >
                          <svg class='card__button-icon-show svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                          </svg>
                          <svg class='card__button-icon-hide svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <div class="card__category-slug">2.1</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                  <div class="card__item col">
                    <div class="row row-cols-auto align-items-center gx-3 gy-3">
                      <div class="col me-auto">
                        <div class="card__category-status card__category-status--on">вкл.</div>
                      </div>
                      <div class="col">
                        <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                          <div class="col">
                            <button class="card__button card__button--edit" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                              </svg>
                            </button>
                          </div>
                          <div class="col">
                            <button class="card__button card__button--delete" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="list__group-item">
              <div class="card card-category">
                <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                  <div class="card__item col">
                    <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                      <div class="col me-3">
                        <button class="card__button card__button--handle" type="button" data-element="handle">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="card__button card__button--collapse-toggle"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#sortable-collapse-1-0"
                          aria-expanded="false"
                          aria-controls="sortable-collapse"
                        >
                          <svg class='card__button-icon-show svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                          </svg>
                          <svg class='card__button-icon-hide svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <div class="card__category-slug">2.2</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                  <div class="card__item col">
                    <div class="row row-cols-auto align-items-center gx-3 gy-3">
                      <div class="col me-auto">
                        <div class="card__category-status card__category-status--on">вкл.</div>
                      </div>
                      <div class="col">
                        <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                          <div class="col">
                            <button class="card__button card__button--edit" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                              </svg>
                            </button>
                          </div>
                          <div class="col">
                            <button class="card__button card__button--delete" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="list__group-item">
              <div class="card card-category">
                <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                  <div class="card__item col">
                    <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                      <div class="col me-3">
                        <button class="card__button card__button--handle" type="button" data-element="handle">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="card__button card__button--collapse-toggle"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#sortable-collapse-1-0"
                          aria-expanded="false"
                          aria-controls="sortable-collapse"
                        >
                          <svg class='card__button-icon-show svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                          </svg>
                          <svg class='card__button-icon-hide svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <div class="card__category-slug">2.3</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                  <div class="card__item col">
                    <div class="row row-cols-auto align-items-center gx-3 gy-3">
                      <div class="col me-auto">
                        <div class="card__category-status card__category-status--on">вкл.</div>
                      </div>
                      <div class="col">
                        <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                          <div class="col">
                            <button class="card__button card__button--edit" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                              </svg>
                            </button>
                          </div>
                          <div class="col">
                            <button class="card__button card__button--delete" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="list__group-item">
              <div class="card card-category">
                <div class="row row-cols-auto flex-nowrap align-items-center gx-3 gy-3">
                  <div class="card__item col">
                    <div class="row row-cols-auto flex-nowrap align-items-center gy-1 gx-1">
                      <div class="col me-3">
                        <button class="card__button card__button--handle" type="button" data-element="handle">
                          <svg class='svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-dots'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="card__button card__button--collapse-toggle"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#sortable-collapse-1-0"
                          aria-expanded="false"
                          aria-controls="sortable-collapse"
                        >
                          <svg class='card__button-icon-show svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-plus'></use>
                          </svg>
                          <svg class='card__button-icon-hide svg-icon'>
                            <use xlink:href='img/svgSprite.svg#icon-minus'></use>
                          </svg>
                        </button>
                      </div>
                      <div class="col">
                        <div class="card__category-slug">2.4</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__item col"><div class="card__category-count">25 шт.</div></div>
                  <div class="card__item col">
                    <div class="row row-cols-auto align-items-center gx-3 gy-3">
                      <div class="col me-auto">
                        <div class="card__category-status card__category-status--on">вкл.</div>
                      </div>
                      <div class="col">
                        <div class="row row-cols-auto gx-0 gy-0 align-items-center">
                          <div class="col">
                            <button class="card__button card__button--edit" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-pen'></use>
                              </svg>
                            </button>
                          </div>
                          <div class="col">
                            <button class="card__button card__button--delete" type="button">
                              <svg class='svg-icon'>
                                <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  
</div>