<div class="mb-3">
  <form class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
      <div class="invalid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label"
        >card number</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput2"
        placeholder="card number"
        data-element="mask"
        data-inputmask="'mask': '9999 9999 9999 9999'"
      />
      <div class="invalid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <div class="select select-base" id="select-0">
        <select
          name="state"
          data-element="select"
          data-placeholder="Выберите город"
          data-dropdown-parent="#select-0"
          data-dropdown-css-class="select__dropdown"
        >
          <option value=""></option>
          <option value="1">Alabama</option>
          <option value="2">Wyoming</option>
          <option value="3">Wyoming</option>
          <option value="4">Wyoming</option>
          <option value="5">Alabama</option>
          <option value="6">Wyoming</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <div class="select select-base" id="select-0-1">
        <select
          name="state"
          data-element="select"
          data-placeholder="Выберите город"
          data-dropdown-parent="#select-0-1"
          data-dropdown-css-class="select__dropdown"
          data-search="false"
        >
          <option value=""></option>
          <option value="1">Alabama</option>
          <option value="2">Wyoming</option>
          <option value="3">Wyoming</option>
          <option value="4">Wyoming</option>
          <option value="5">Alabama</option>
          <option value="6">Wyoming</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div>
    </div>
  </form>
</div>
<div class="mb-3">
  <form class="form form-search">
    <button class="form__search-submit" type="submit">
      <svg class="svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-search"></use>
      </svg>
    </button>
    <input class="form-control" type="text" placeholder="Поиск" />
  </form>
</div>

<div class="mb-3">
  <div class="form-switch form-switch-base">
    <label class="form-switch__label">
      <span class="form-switch__label-left">Статус категории</span>
      <span class="form-switch__label-center">
        <input class="input-hidden" type="checkbox" id="switch-0" />
        <span class="form-switch__pseudo" for="switch-0"></span>
      </span>
      <span class="form-switch__label-right">вкл</span>
    </label>
  </div>
</div>

<div class="mb-3">
  <div class="editor editor-base">
    <textarea
      data-element="editor-small"
      id="editor-0"
      placeholder="Описание категории"
    ></textarea>
  </div>
</div>

<div class="mb-3">
  <div class="editor editor-secondary">
    <textarea
      data-element="editor-small"
      id="editor-1"
      placeholder="Введите текст сообщения"
    ></textarea>
  </div>
</div>

<div class="mb-3">
  <div class="form-file form-file-single" data-element="form-file-single">
    <div class="form-file__img ratio ratio-1x1">
      <img
        src="img/img-form-file-placeholder.svg"
        alt=""
        data-element="form-file-img"
        data-placeholder="img/img-form-file-placeholder.svg"
      />
    </div>
    <div class="form-file__body">
      <div class="form-file__title">Галерея товара</div>
      <div class="form-file__buttons row row-cols-auto gx-3 gy-3">
        <div class="col">
          <label class="button button-base">
            <input
              class="input-hidden"
              data-element="form-file-input-single"
              type="file"
              id="file-0"
              accept="image/png, image/svg, image/jpeg"
            />
            <span>Выбрать файл</span>
          </label>
        </div>
        <div class="col">
          <button
            class="button button-secondary"
            type="button"
            data-element="form-file-delete"
          >
            Удалить фото
          </button>
        </div>
      </div>
      <div
        class="form-file__file-info"
        data-element="form-file-info"
        data-placeholder="Файл не выбран"
      >
        Файл не выбран
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3">
      <div class="form-file form-file-single-secondary" data-element="form-file-single">
        <div class="form-file__img ratio ratio-1x1">
          <img
            src="img/img-form-file-placeholder.svg"
            alt=""
            data-element="form-file-img"
            data-placeholder="img/img-form-file-placeholder.svg"
          />
        </div>
        <div class="form-file__body">
          <div class="form-file__title">Настройка изображения</div>
          <div class="form-file__buttons row row-cols-auto flex-md-column gx-3 gy-4">
            <div class="col">
              <label class="button button-base">
                <input
                  class="input-hidden"
                  data-element="form-file-input-single"
                  type="file"
                  id="file-0"
                  accept="image/png, image/svg, image/jpeg"
                />
                <span>Выбрать файл</span>
              </label>
            </div>
            <div class="col">
              <button
                class="button button-third"
                type="button"
                data-element="form-file-delete"
              >
                Удалить фото
              </button>
            </div>
          </div>
          <div
            class="form-file__file-info"
            data-element="form-file-info"
            data-placeholder="Файл не выбран"
          >
            Файл не выбран
          </div>
          <div
            class="form-file__file-info-sub"
            data-placeholder="рекомендуемый размер изображения: 500х500px"
          >
            рекомендуемый размер
            изображения: 500х500px
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6">
      <div class="form-file form-file-single-third" data-element="form-file-single">
        <div class="form-file__img ratio ratio-1x1">
          <img
            src="img/img-form-file-placeholder.svg"
            alt=""
            data-element="form-file-img"
            data-placeholder="img/img-form-file-placeholder.svg"
          />
        </div>
        <div class="form-file__body">
          <div
            class="form-file__file-info-sub"
            data-placeholder="рекомендуемый размер изображения: 500х500px"
          >
            рекомендуемый размер: 500х500px
          </div>
          <div class="form-file__title">Настройка фото</div>
          <div class="form-file__buttons row gx-3 gy-3">
            <div class="col">
              <label class="button button-base">
                <input
                  class="input-hidden"
                  data-element="form-file-input-single"
                  type="file"
                  id="file-0"
                  accept="image/png, image/svg, image/jpeg"
                />
                <span>Выбрать файл</span>
              </label>
            </div>
            <div class="col">
              <button
                class="button button-third"
                type="button"
                data-element="form-file-delete"
              >
                Удалить фото
              </button>
            </div>
          </div>
          <div
            class="form-file__file-info"
            data-element="form-file-info"
            data-placeholder="Файл не выбран"
          >
            Файл не выбран
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="form-file form-file-multiple">
    <div class="form-file__drop">
      <label class="form-file__drop-in">
        <input class="input-hidden" type="file">
        <svg class='form-file__drop-icon svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-upload'></use>
        </svg>
        <span class="form-file__drop-label">Перетащите файлы сюда или нажмите, чтобы загрузить.</span>
      </label>
      <div class="form-file__list">
        <ul class="row row-cols-auto gx-4 gy-4 justify-content-center">
          <li class="loading">
            <div class="form-file__list-item">
              <div class="position-relative">
                <div class="ratio ratio-1x1">
                  <img src="img/img-file-0.jpg" alt="">
                </div>
                <div class="form-file__progressbar">
                  <div class="form-file__progressbar-track">
                    <div class="form-file__progressbar-thumb" style="width: 70%">&nbsp;</div>
                  </div>
                </div>
                <div class="form-file__ready">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-ready'></use>
                  </svg>
                </div>
                <div class="form-file__error-wrap">
                  <div class="form-file__error">
                    <button class="form-file__delete" type="button">
                      <svg class='svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-close-2'></use>
                      </svg>
                    </button>
                    <div class="form-file__txt">
                      <div>00160_0974.jpg</div>
                      <div>43.KB</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-file__error-info">Файл слишком большой</div>
            </div>
          </li>
          <li class="loaded">
            <div class="form-file__list-item">
              <div class="position-relative">
                <div class="ratio ratio-1x1">
                  <img src="img/img-file-1.jpg" alt="">
                </div>
                <div class="form-file__progressbar">
                  <div class="form-file__progressbar-track">
                    <div class="form-file__progressbar-thumb">&nbsp;</div>
                  </div>
                </div>
                <div class="form-file__ready">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-ready'></use>
                  </svg>
                </div>
                <div class="form-file__error-wrap">
                  <div class="form-file__error">
                    <button class="form-file__delete" type="button">
                      <svg class='svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-close-2'></use>
                      </svg>
                    </button>
                    <div class="form-file__txt">
                      <div>00160_0974.jpg</div>
                      <div>43.KB</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-file__error-info">Файл слишком большой</div>
            </div>
          </li>
          <li class="error">
            <div class="form-file__list-item">
              <div class="position-relative">
                <div class="ratio ratio-1x1">
                  <img src="img/img-file-2.jpg" alt="">
                </div>
                <div class="form-file__progressbar">
                  <div class="form-file__progressbar-track">
                    <div class="form-file__progressbar-thumb">&nbsp;</div>
                  </div>
                </div>
                <div class="form-file__ready">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-ready'></use>
                  </svg>
                </div>
                <div class="form-file__error-wrap">
                  <div class="form-file__error">
                    <button class="form-file__delete" type="button">
                      <svg class='svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-close-2'></use>
                      </svg>
                    </button>
                    <div class="form-file__txt">
                      <div>00160_0974.jpg</div>
                      <div>43.KB</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-file__error-info">Файл слишком большой</div>
            </div>
          </li>
          <li>
            <div class="form-file__list-item">
              <div class="position-relative">
                <div class="ratio ratio-1x1">
                  <img src="img/img-file-3.jpg" alt="">
                </div>
                <div class="form-file__progressbar">
                  <div class="form-file__progressbar-track">
                    <div class="form-file__progressbar-thumb">&nbsp;</div>
                  </div>
                </div>
                <div class="form-file__ready">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-ready'></use>
                  </svg>
                </div>
                <div class="form-file__error-wrap">
                  <div class="form-file__error">
                    <button class="form-file__delete" type="button">
                      <svg class='svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-close-2'></use>
                      </svg>
                    </button>
                    <div class="form-file__txt">
                      <div>00160_0974.jpg</div>
                      <div>43.KB</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-file__error-info">Файл слишком большой</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="form-datepicker form-datepicker-base input-group date" data-element="datepicker">
    <input
      class="form-control"
      type="text"
      placeholder="Период от"
      />
    <div class="input-group-addon">
      <svg class='svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-time'></use>
      </svg>
    </div>
  </div>
</div>

