<div class="mb-3">
  <button
    type="button"
    class="button button-base"
    data-bs-toggle="modal"
    data-bs-target="#top-up-balance"
  >
    Пополнение баланса
  </button>
  @@include("./src/partials/modals/modal-top-up-balance.html")
</div>

<div class="mb-3">
  <button
  type="button"
  class="button button-base"
  data-bs-toggle="modal"
  data-bs-target="#top-up-balance-2"
  >
    Пополнение баланса #2
  </button>
  @@include("./src/partials/modals/modal-top-up-balance-2.html")
</div>

<div class="mb-3">
  <button
    type="button"
    class="button button-base"
    data-bs-toggle="modal"
    data-bs-target="#payModal"
  >
    Пополнение баланса #3
  </button>
  @@include("./src/partials/modals/modal-top-up-balance-3.html")
</div>

<div class="mb-3">
  <button
    type="button"
    class="button button-base"
    data-bs-toggle="modal"
    data-bs-target="#payModal-2"
  >
    Пополнение баланса #4
  </button>
  @@include("./src/partials/modals/modal-top-up-balance-4.html")
</div>

<div class="mb-3">
  <button
    type="button"
    class="button button-base"
    data-bs-toggle="modal"
    data-bs-target="#add-category"
  >
    Добавление категории
  </button>
  @@include("./src/partials/modals/modal-add-category.html")
</div>

<div class="mb-3">
  <button
    type="button"
    class="button button-base"
    data-bs-toggle="modal"
    data-bs-target="#add-good"
  >
    Добавление товара
  </button>
  @@include("./src/partials/modals/modal-add-good.html")
</div>

<div class="mb-3">
  <button
    type="button"
    class="button button-base"
    data-bs-toggle="modal"
    data-bs-target="#add-page"
  >
    Добавление страницы
  </button>
  @@include("./src/partials/modals/modal-add-page.html")
</div>
