<div class="mb-3">
  <nav class="nav nav-base">
    <div class="nav__head">
      <a class="link link-nav-secondary active" href="#">
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-home'></use>
        </svg>
        <div class="link__label">Главная</div>
      </a>
    </div>
    <div class="nav__item">
      <div class="collapse-box collapse-box-base">
        <button
          class="collapse-box__toggle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav-item-0"
          aria-expanded="false"
          aria-controls="nav-item-0"
        >
          <span class="collapse-box__toggle-label">Управление магазином</span>
          <svg class='svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-angle'></use>
          </svg>
        </button>
        <div class="collapse-box__collapse collapse show" id="nav-item-0">
          <ul class="list list-categories">
            <li>
              <a class="link link-nav-secondary" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-menu'></use>
                </svg>
                <div class="link__label">Категории</div>
              </a>
            </li>
            <li>
              <a class="link link-nav-secondary" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-good'></use>
                </svg>
                <div class="link__label">Товары</div>
              </a>
            </li>
            <li>
              <a class="link link-nav-secondary" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-basket'></use>
                </svg>
                <div class="link__label">Заказы</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse-box collapse-box-base">
        <button
          class="collapse-box__toggle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav-item-1"
          aria-expanded="false"
          aria-controls="nav-item-1"
        >
          <span class="collapse-box__toggle-label">Контент</span>
          <svg class='svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-angle'></use>
          </svg>
        </button>
        <div class="collapse-box__collapse collapse show" id="nav-item-1">
          <ul class="list list-categories">
            <li>
              <a class="link link-nav-secondary" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-page'></use>
                </svg>
                <div class="link__label">Страницы</div>
              </a>
            </li>
            <li>
              <a class="link link-nav-secondary" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-user'></use>
                </svg>
                <div class="link__label">Подписчики</div>
              </a>
            </li>
            <li>
              <a class="link link-nav-secondary" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-email'></use>
                </svg>
                <div class="link__label">Рассылка</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse-box collapse-box-base">
        <button
          class="collapse-box__toggle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav-item-2"
          aria-expanded="false"
          aria-controls="nav-item-2"
        >
          <span class="collapse-box__toggle-label">Настройки</span>
          <svg class='svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-angle'></use>
          </svg>
        </button>
        <div class="collapse-box__collapse collapse show" id="nav-item-2">
          <ul class="list list-categories">
            <li>
              <a class="link link-nav-secondary active" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-cog'></use>
                </svg>
                <div class="link__label">Управление ботом</div>
              </a>
            </li>
            <li>
              <a class="link link-nav-secondary" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-lang'></use>
                </svg>
                <div class="link__label">Языки бота</div>
              </a>
            </li>
            <li>
              <a class="link link-nav-secondary" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-translation'></use>
                </svg>
                <div class="link__label">Управление переводом</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav__foot">
      <a class="link link-nav-secondary" href="#">
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-logout'></use>
        </svg>
        <div class="link__label">Выход</div>
      </a>
    </div>
  </nav>
</div>
