<div class="mb-3">
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
</div>

<div class="mb-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-base">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">
            <svg class='svg-icon'>
              <use xlink:href='img/svgSprite.svg#icon-angle'></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">
            <svg class='svg-icon'>
              <use xlink:href='img/svgSprite.svg#icon-angle'></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>