<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aspernatur harum. Illum, nihil? Repudiandae, adipisci perspiciatis. Blanditiis, in iste. Culpa pariatur excepturi, non rem voluptatum error voluptatem, dolore animi nihil reiciendis ab magnam recusandae expedita neque laudantium, dicta est? Vel numquam doloremque quas ut itaque adipisci vitae eligendi eaque! Quaerat, voluptas vel reiciendis quam perspiciatis enim suscipit deleniti magnam ea consequuntur, provident veniam quasi. Dolor quidem exercitationem necessitatibus ad praesentium. Natus aspernatur sit debitis tempora? Culpa, obcaecati animi nulla aliquam officia facilis ipsum. Eum quis similique, eius debitis minima nisi animi! Fuga quidem unde culpa distinctio reiciendis saepe assumenda consequatur.