<div class="mb-3">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="mb-3">
  <div class="spinner-border spinner-border-base" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>