<div class="mb-3">
  <div class="tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          Home
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Profile
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact"
          type="button"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
        >
          Contact
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        ...
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="tabs tabs--languages">
    <div class="table-responsive">
      <ul class="nav nav-tabs" id="myTab-1" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="ru-tab"
            data-bs-toggle="tab"
            data-bs-target="#ru"
            type="button"
            role="tab"
            aria-controls="ru"
            aria-selected="true"
          >
            Русский
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="uz-tab"
            data-bs-toggle="tab"
            data-bs-target="#uz"
            type="button"
            role="tab"
            aria-controls="uz"
            aria-selected="false"
          >
            Узбекский
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="en-tab"
            data-bs-toggle="tab"
            data-bs-target="#en"
            type="button"
            role="tab"
            aria-controls="en"
            aria-selected="false"
          >
            Английский
          </button>
        </li>
        
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="ru"
        role="tabpanel"
        aria-labelledby="ru-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="uz"
        role="tabpanel"
        aria-labelledby="uz-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="en"
        role="tabpanel"
        aria-labelledby="en-tab"
      >
        ...
      </div>
    </div>
  </div>
</div>
