<div class="mb-3">
  <div class="text text--1">Lorem ipsum dolor sit amet.</div>
</div>
<div class="mb-3">
  <div class="text text--2">Lorem ipsum dolor sit amet.</div>
</div>
<div class="mb-3">
  <div class="text text--3">Lorem ipsum dolor sit amet.</div>
</div>
<div class="mb-3">
  <div class="text text--4">Lorem ipsum dolor sit amet.</div>
</div>
<div class="mb-3">
  <div class="text text--5">Lorem ipsum dolor sit amet.</div>
</div>
<div class="mb-3">
  <div class="text text--6">Lorem ipsum dolor sit amet.</div>
</div>
<div class="mb-3">
  <div class="text text-user">
    <div class="text__user-avatar ratio">
      <img src="img/img-avatar.png" alt="">
    </div>
    <div class="text__user-body">
      <div class="text__user-name">botname_bot</div>
      <div class="text__user-id">ID 000193</div>
    </div>
  </div>
</div>