.form-datepicker {

}
.form-datepicker-base {
  position: relative;
  .input-group-addon {
    z-index: 2 !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: auto;
    height: auto;
    .svg-icon {
      font-size: var(--text-5);
    }
  }
  .form-control {
    padding-left: 2.5em;
    z-index: 1 !important;
    border-radius: 5 / 14 + em !important;
  }
  .dropdown-menu {
    padding: 10 / 12 + em;
    border: 1px solid var(--bdc-1-4);
    margin-top: 10 / 12 + em;

    color: var(--cf-0-1);
    font-size: var(--text-4);
    
    @extend .box-shadow-4;
    border-radius: 5 / 12 + em;
    background-color: var(--bgc-0-0);
    &:before, &:after {
      display: none;
    }
  }
  .datepicker-switch {
    font-weight: 700;
    color: var(--cf-0-1);
    font-weight: 600;
    text-transform: none;
  }
  th {
    font-size: var(--text-5);
    color: var(--cf-2-4);
    font-weight: 400;
    padding: 10 / 10 + em 5 / 10 + em;
    text-transform: uppercase;
    &:hover {
      background-color: var(--bgc-2-0) !important;
    }
  }
  .day {
    width: 23px;
    min-width: 23px;
    max-width: 23px;
    height: 23px;
    line-height: 1;
    border-radius: 50%;
    padding: 3px 2px 2px;
    font-size: 12px;
    &.active {
      color: var(--cf-1-0);
      background: var(--bgc-4-0) !important;
      &:hover {
        background: var(--bgc-4-0) !important;
      }
    }
    &:hover {
      background-color: var(--bgc-1-8) !important;
    }
  }
  .century, .decade, .month, .year {
    height: 44 / 12 + em;
    line-height: 44 / 12 + em;
    &.active, &.focused {
      color: var(--cf-1-0);
      background: var(--bgc-4-0) !important;
      &:hover {
        background: var(--bgc-4-0) !important;
      }
    }
    &:hover {
      background-color: var(--bgc-2-0) !important;
    }
  }
}