.form-switch {
  
}

.form-switch-base {
  display: inline-block;
  padding-left: 0;
  font-size: var(--text-3);
  input {
    &:checked + .form-switch__pseudo {
      background-color: var(--bgc-4-0);
      &:after {
        left: 100%;
        transform: translate(-100%, 0);
        margin-left: -2 / 14 + em;
      }
    }
  }
  .form-switch__label {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .form-switch__label-left {

  }
  .form-switch__label-center {
    padding-left: 1em;
    padding-right: 1em;
  }
  .form-switch__pseudo {
    position: relative;
    display: block;
    width: 42 / 14 + em;
    height: 20 / 14 + em;
    background-color: var(--bgc-1-7);
    border-radius: 10 / 14 + em;
    &:after {
      content: '';
      position: absolute;
      top: 2 / 14 + em;
      left: 2 / 14 + em;
      width: 16 / 14 + em;
      height: 16 / 14 + em;
      border-radius: 50%;
      background-color: var(--bgc-0-0);
      @extend .box-shadow-3;
      transition: linear .1s;
    }
  }
  .form-switch__label-right {

  }
}