.form-control.is-valid:focus, .was-validated .form-control:valid:focus, .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: none;
}
.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
  background: none !important;
}
.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
  color: var(--color-font-base-secondary);
}
.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
  background-color: #0d6efd;
}
.form-check-input.is-valid, .was-validated .form-check-input:valid {
  border-color: #0d6efd;
}


.was-validated {
  .form-control {
    &:valid {
      border-color: var(--bdc-0-3);
    }
  }
  select {
    &:invalid {
      & + .select2 {
        .select2-selection {
          border-color: var(--bdc-3-0);
        }
      }
    }
    &:valid {
      & + .select2 {
        .select2-selection {
          
        }
      }
    }
  }
  .form-control {
    &:invalid + .rateit {
      .rateit-range {
        // color: red;
        // background-color: red;
      }
    }
  }
}


.invalid-feedback {
  font-size: var(--text-3);
  color: var(--cf-5-1);
}