.select {

}
.select-base {
  .select2 {
    width: 100% !important;
  }
  .select2-selection__placeholder {
    color: var(--cf-2-0) !important;
  }
  .select2-selection {
    border-color: var(--bdc-1-3);
    border-radius: 5 / $fontSizeRelative + em;
    height: 46 / $fontSizeRelative + em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bgc-0-0);
  }
  .select2-selection__rendered {
    padding-left: 20 / 14 + em !important;
    padding-right: 40 / 14 + em !important;
    font-size: var(--text-3) !important;
  }
  .select2-selection__arrow {
    height: 50 / $fontSizeRelative + em !important;
    b {
      width: 10 / $fontSizeRelative + em !important;
      height: 10 / $fontSizeRelative + em !important;
      border: none !important;
      margin: -10 / $fontSizeRelative + em 0 0 !important;
      left: auto !important;
      border-left: 2px solid var(--bdc-1-3) !important;
      border-bottom: 2px solid var(--bdc-1-3) !important;
      border-radius: 1px;
      transform: rotate(-45deg);
      right: 15 / $fontSizeRelative + em !important; 
    }
  }
  .select2-container--open {
    .select2-selection__arrow {
      transform: rotate(180deg);
      b {
        right: -5 / $fontSizeRelative + em !important;
        margin-top: -5 / $fontSizeRelative + em !important; 
      }
    }
  }
  .select2-search__field {
    border: 1px solid var(--bdc-1-3) !important;
    padding: 5 / 14 + em 10 / 14 + em !important;
    height: 30 / 14 + em !important;
    outline: none !important;
    &:focus-visible {

    }
    &[disabled] {
      display: none;
    }
  }
  .select__dropdown {
    margin-top: 10 / $fontSizeRelative + em;
    border: 1px solid var(--bdc-1-3) !important;
    border-radius: 5 / $fontSizeRelative + em;
  }
  .select2-results__options {
    max-height: 200 / $fontSizeRelative + em;
    padding: 0;
    @extend .scroll-custom-secondary;
  }
  .select2-results__option {
    font-size: var(--text-3);
    color: var(--cf-2-0);
    padding: 15 / 14 + em 20 / 14 + em;
    // margin-bottom: 10 / 14 + em;
    // border-radius: 3 / 14 + em;
    border-radius: 0 !important;
  }
  .select2-results__option--highlighted {
    background-color: var(--bgc-4-2) !important;
    color: var(--cf-3-0) !important;
  }
  .select2-results__option--selected {
    background-color: transparent;
    font-weight: 700;
    &.select2-results__option--highlighted {
      color: var(--cf-2-4) !important;
      background-color: transparent !important;
    }
    &:hover {
      background-color: transparent;
    }
  }
}