.form-file {

}
.form-file-single {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  .form-file__img {
    flex-shrink: 0;
    width: 102 / $fontSizeRelative + em;
    img {
      object-fit: contain;
    }
  }
  .form-file__body {
    flex-grow: 1;
    padding-left: 20 / $fontSizeRelative + em;
  }
  .form-file__title {
    font-size: var(--text-3);
    font-weight: 700;
    color: var(--cf-0-1);
    margin-bottom: 10 / $fontSizeRelative + em;
  }
  .form-file__buttons {
    margin-bottom: 10 / $fontSizeRelative + em;
    width: 100%;
  }
  .form-file__file-info {
    font-size: var(--text-4);
    min-height: 15 / 12 + em;
  }
}



.form-file-single-secondary {
  @extend .form-file-single;
  align-items: flex-start;
  @include media(m, $md) {
    flex-direction: column;
  }
  @include media(d, $sm) {
    flex-direction: column;
  }
  .form-file__body {
    @include media(d, $sm) {
      padding-left: 0;
      padding-top: 20 / $fontSizeRelative + em;
    }
    @include media(m, $md) {
      padding-left: 0;
      padding-top: 20 / $fontSizeRelative + em;
    }
  }
  .form-file__img {
    width: 200 / $fontSizeRelative + em;
    @include media(m, $md) {
      width: 100%;
    }
  }
  .form-file__title {
    font-size: var(--text-1);
    margin-bottom: 20 / $fontSizeRelative + em;
  }
  .form-file__file-info {
    font-size: var(--text-3);
    margin-top: 20 / $fontSizeRelative + em;
  }
  .form-file__file-info-sub {
    margin-top: 10 / $fontSizeRelative + em;
    color: var(--cf-2-2);
  }
  .button {
    @include media(m, $md) {
      width: 100%;
    }
  }
}



.form-file-single-third {
  @extend .form-file-single;
  flex-direction: column;
  align-items: flex-start;
  .form-file__img {
    width: 280 / $fontSizeRelative + em;
    margin-left: auto;
    margin-right: auto;
  }
  .form-file__body {
    width: 100%;
    padding-left: 0;
    padding-top: 20 / $fontSizeRelative + em;
  }
  .form-file__title {
    margin-bottom: 20 / 14 + em;
  }
  .form-file__buttons {
    width: auto;
  }
  .button {
    width: 100%;
  }
  .form-file__file-info {
  }
  .form-file__file-info-sub {
    margin-bottom: 15 / 14 + em;
    text-align: center;
    font-size: var(--text-3);
  }
}


.form-file-multiple {
  .form-file__drop {
    border: 1px dashed var(--bdc-1-3);
    padding: 15 / $fontSizeRelative + em;
    background-color: var(--bgc-0-0);
  }
  .form-file__drop-in {
    min-height: 90 / $fontSizeRelative + em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & + * {
      margin-top: 20 / $fontSizeRelative + em;
    }
  }
  .form-file__drop-icon {
    color: var(--cf-2-4);
    font-size: var(--h-5);
    margin-bottom: 15 / $fontSizeRelative + em;
  }
  .form-file__drop-label {
    font-size: var(--text-3);
    color: var(--cf-2-0);
  }
  .form-file__list {
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      // margin-right: 23 / $fontSizeRelative + em;
      &.loading, {
        .form-file__progressbar {
          opacity: 1;
          visibility: visible;
        }
      }
      &.loaded {
        .form-file__ready {
          opacity: 1;
          visibility: visible;
        }
      }
      &.error {
        .form-file__error-info, .form-file__error {
          opacity: 1;
          visibility: visible;
        }
      }
      &:hover {
        .form-file__error {
          opacity: 1;
          visibility: visible;
          background-color: var(--bgc-1-7);
        }
      }
    }
    .ratio {
      width: 100%;
    }
  }
  .form-file__list-item {
    width: 90 / $fontSizeRelative + em;
  }
  .form-file__progressbar, .form-file__ready, .form-file__error {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    @extend .gradient-2;

    color: var(--cf-1-0);

    opacity: 0;
    visibility: hidden;
  }
  .form-file__progressbar-track {
    position: relative;
    background-color: var(--bgc-0-0);
    border-radius: 90 / $fontSizeRelative + em;
    opacity: 0.8;
    width: 80%;
    height: 10 / $fontSizeRelative + em;
  }
  .form-file__progressbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    // width: 50%;
    height: 100%;
    border-radius: 90 / $fontSizeRelative + em;
    background-color: var(--bgc-5-2);
  }
  .form-file__ready {
    .svg-icon {
      font-size: var(--h-5);
      
    }
  }
  .form-file__error {
    @extend .gradient-3;
    color: var(--cf-1-0);
  }
  .form-file__txt {
    font-size: var(--text-5);
    color: var(--cf-1-0);
    text-align: center;
    margin-top: 5 / $fontSizeRelative + em;
  }
  .form-file__delete {
    @extend .button-clear;
    padding: 5 / $fontSizeRelative + em;
    color: var(--cf-1-0);
    font-size: var(--h-4);
  }
  .form-file__error-info {
    font-size: var(--text-4);
    color: var(--cf-5-1);
    margin-top: 5 / $fontSizeRelative + em;

    opacity: 0;
    visibility: hidden;
  }
}