<div class="text text--1">Lorem ipsum dolor sit amet.</div>
<div class="text text--2">Lorem ipsum dolor sit amet.</div>
<div class="text text--3">Lorem ipsum dolor sit amet.</div>
<div class="text text--4">Lorem ipsum dolor sit amet.</div>
<div class="text text--5">Lorem ipsum dolor sit amet.</div>
<div class="text text--6">Lorem ipsum dolor sit amet.</div>
