<div
    class="modal modal-base fade"
    id="edit-order"
    tabindex="-1"
    aria-labelledby="editOrderLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form>
          <div class="modal-header mb-3">
            <h6>Редактирование заказа</h6>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row mb-2">
              <div class="col">
                <strong class="modal__label">Заказ:</strong>
              </div>
              <div class="col">
                <div class="modal__value">#16</div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <strong class="modal__label">Дата заказа:</strong>
              </div>
              <div class="col">
                <div class="modal__value">2021-07-15 08:58:58</div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <strong class="modal__label">Данные покупателя:</strong>
              </div>
              <div class="col">
                <div class="modal__value">Азиз 123456789</div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <strong class="modal__label">Статус:</strong>
              </div>
              <div class="col">
                <div class="select select-base" id="select-status-2">
                  <select
                    name="state"
                    data-element="select"
                    data-placeholder="Статус заказа"
                    data-dropdown-parent="#select-status-2"
                    data-dropdown-css-class="select__dropdown"
                    data-search="false"
                  >
                    <option value=""></option>
                    <option value="1">Новый</option>
                    <option value="2">В обработке</option>
                    <option value="3">Выполнен</option>
                    <option value="4">Отменен</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <strong class="modal__label">Товары:</strong>
              <div class="row row-cols-1 gx-2 gy-2">
                <div class="col">
                  <div class="card card-good">
                    <div class="card__img-wrap">
                      <img src="img/img-stub.jpg" alt="">
                    </div>
                    <div class="card__body">
                      
                      <div class="row row-cols-auto gx-2 gy-2 card__item">
                        <div class="col">
                          <label class="card__title">ANIKO SPORT RUN</label>
                        </div>
                      </div>
                      <div class="row row-cols-auto gx-2 gy-2 card__item">
                        <div class="col">
                          <div class="card__label">Количество:</div>
                        </div>
                        <div class="col">
                          <div class="card__value">1</div>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-good">
                    <div class="card__img-wrap">
                      <img src="img/img-good-0.jpg" alt="">
                    </div>
                    <div class="card__body">
                      <div class="row row-cols-auto gx-2 gy-2 card__item">
                        <div class="col">
                          <label class="card__title">ANIKO SPORT RUN</label>
                        </div>
                      </div>
                      <div class="row row-cols-auto gx-2 gy-2 card__item">
                        <div class="col">
                          <div class="card__label">Количество:</div>
                        </div>
                        <div class="col">
                          <div class="card__value">1</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div class="mb-2">
              <button class="button button-base w-100" type="submit">Сохранить изменения</button>
            </div>
            <div class="mb-2">
              <a
                class="button button-third w-100"
                href="#"
                data-bs-dismiss="modal"
                aria-label="Close"
                >Назад без сохранения</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>