<div
    class="modal modal-base fade"
    id="payModal-2"
    tabindex="-1"
    aria-labelledby="payModalLabel-2"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form class="modal__form">
          <div class="modal-header pe-3 ps-3">
            <h6>Оплата картой: UzBot.net</h6>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <div class="row row-cols-auto justify-content-between align-items-center">
                <div class="col">
                  <div class="modal__payment-item">Сумма: <strong>10000 сум</strong></div>
                </div>
                <div class="col">
                  <div class="modal__payment-item">Идентификатор: <span>193</span></div>
                </div>
              </div>
            </div>
            <div class="modal__payment-card">
              <div class="mb-3">
                <div class="spinner-border spinner-border-base" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <div class="modal__payment-systems">
              <div class="row row-cols-auto align-items-center gy-3 gx-3">
                <div class="col me-auto">
                  <img src="img/img-payment-system-0.png" alt="">
                  <div class="text text--3 mt-2">Secured by PCI DSS</div>
                </div>
                <div class="col">
                  <img src="img/img-payment-system-1.png" alt="">
                </div>
                <div class="col">
                  <img src="img/img-payment-system-2.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>