<div
    class="modal modal-base fade"
    id="payModal"
    tabindex="-1"
    aria-labelledby="payModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form class="modal__form">
          <div class="modal-header pe-3 ps-3">
            <h6>Оплата картой: UzBot.net</h6>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <div class="row row-cols-auto justify-content-between align-items-center">
                <div class="col">
                  <div class="modal__payment-item">Сумма: <strong>10000 сум</strong></div>
                </div>
                <div class="col">
                  <div class="modal__payment-item">Идентификатор: <span>193</span></div>
                </div>
              </div>
            </div>
            <div class="modal__payment-card">
              <div class="card card-credit">
                <div class="card__in">
                  <div class="card__title">
                    <div class="card__title-sub">Укажите</div>
                    <div class="card__title-main">Номер карты <br> и срок действия</div>
                  </div>
                  <div class="row row-cols-auto flex-nowrap gy-3 gx-3">
                    <div class="col flex-grow-1 flex-shrink-1">
                      <input
                        class="form-control form-control-code"
                        type="text"
                        placeholder="____ ____ ____ ____"
                        data-element="mask"
                        data-inputmask="'mask': '9999 9999 9999 9999'"
                      >
                    </div>
                    <div class="col">
                      <input
                        class="form-control form-control-date"
                        type="text"
                        placeholder="__/__"
                        data-element="mask"
                        data-inputmask="'mask': '99/99'"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal__payment-systems">
              <div class="row row-cols-auto align-items-center gy-3 gx-3">
                <div class="col me-auto">
                  <img src="img/img-payment-system-0.png" alt="">
                  <div class="text text--3 mt-2">Secured by PCI DSS</div>
                </div>
                <div class="col">
                  <img src="img/img-payment-system-1.png" alt="">
                </div>
                <div class="col">
                  <img src="img/img-payment-system-2.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="mb-2">
              <button class="button button-base w-100" type="button">Продолжить</button>
            </div>
            <div class="mb-2">
              <a class="button button-third w-100" href="tel:+998712310880">Контакт-центр: +998 71 231 0880</a>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>