<div
    class="modal modal-base fade"
    id="top-up-balance-2"
    tabindex="-1"
    aria-labelledby="top-up-balanceLabel-2"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6>Пополнение баланса</h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <input class="form-control" type="number" />
            </div>
            <div class="modal__link">Выберите способ оплаты</div>
          </form>
        </div>
        <div class="modal-footer">
          
          <div class="mb-2">
            <button class="button button-base w-100" type="button">Оплатить через Click</button>
          </div>
          <div class="mb-2">
            <button class="button button-third w-100" type="button">Оплатить картой</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>