.box-shadow-0 {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.box-shadow-1 {
	box-shadow: 0px .29em .42em rgba(0, 0, 0, 0.06);
}

.box-shadow-2 {
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.box-shadow-3 {
	box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
}

.box-shadow-4 {
	box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.12);
}