@if $isBootstrap == false {
	.font-weight-thin {
		font-weight: 100 !important;
	}
	.font-weight-light {
		font-weight: 300 !important;
	}
	.font-weight-normal {
		font-weight: 400 !important;
	}
	.font-weight-semi {
		font-weight: 600 !important;
	}
	.fw-bold {
		font-weight: 700 !important;
	}
	.font-weight-extra {
		font-weight: 800 !important;
	}
	.font-weight-black {
		font-weight: 900 !important;
	}
}