.scroll-custom {
  overflow-y: auto;
  &::-webkit-scrollbar {
    height: 3 / $fontSizeRelative + em;
    width: 3 / $fontSizeRelative + em;
    border-radius: 1.5 / $fontSizeRelative + em;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background-color: var(--bgc-0-0);
    // background-color: black;
    
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: var(--bgc-4-0);
    border-radius: 1.5 / $fontSizeRelative + em;
  }
  
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--bgc-4-1);
    
  }
}


.scroll-custom-secondary {
  overflow-y: auto;
  &::-webkit-scrollbar {
    height: 3 / $fontSizeRelative + em;
    width: 3 / $fontSizeRelative + em;
    height: 100px;
    border-radius: 1.5 / $fontSizeRelative + em;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background-color: var(--bgc-0-0);
    // background-color: black;
    
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: var(--bgc-1-7);
    border-radius: 1.5 / $fontSizeRelative + em;
  }
  
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--bgc-4-1);
    
  }
}