<script src="js/jquery.min.js"></script>
<script src="js/svg4everybody.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/ru.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/jquery.inputmask.js"></script>
<script src="js/Sortable.min.js"></script>
<script src="js/ckeditor.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/bootstrap-datepicker.ru.min.js"></script>
<script src="js/main.js"></script>