
@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'name');
		$selector: map-get($group, 'selector');
		$options: map-get($group, 'options');
		@if $groupName == 'colors' {
			@each $option in $options {
				$optionsList: map-get($option, 'options');
				$selectorV2: map-get($option, 'selector');
				@each $optionList in $optionsList {
					$key: map-keys($optionList);
					$value: map-values($optionList);
					.#{$selector}-#{$selectorV2}-#{$key} {
						color: var(--#{$selector}-#{$selectorV2}-#{$key}) !important;
					} 
				}
			}
		}
	};
}