@mixin grid-layout($selectorContainer, $container, $selectorRow, $selectorColumn, $gutters) {
	.#{$selectorContainer} {
		max-width: #{$container};
		@if $gutters != '' {
			padding-left: #{$gutters};
			padding-right: #{$gutters};
		}
	}
	.#{$selectorRow} {
		@if $gutters != '' {
			margin-left: -#{$gutters};
			margin-right: -#{$gutters};
		}
	}
	.#{$selectorColumn} {
		@if $gutters != '' {
			padding-left: #{$gutters};
			padding-right: #{$gutters};
		}
	}
}