.header {
  position: relative;
}

.header-base {
  padding: 10 / $fontSizeRelative + em 0;
  background-color: var(--bgc-0-0);
  @extend .box-shadow-1;
  .container-fluid {
    max-width: 100%;
  }
  .header__logo {
    @include media(m, $xl) {
      width: 280 / $fontSizeRelative + em;
      padding-left: 50 / $fontSizeRelative + em;
    }
  }
  .header__form-search {
    &.active {
      .form-search {
        @include media(d, $sm) {
          top: 110%;
          opacity: 1;
          visibility: visible;
        }
        .header__toggle {
          display: none;
        }
        .header__toggle-close {
          display: block;
        }
      }
    }
  }
  .form-search {
    @include media(m, $sm) {
      width: 340 / $fontSizeRelative + em;
    }
    @include media(d, $sm) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      padding: 10 / $fontSizeRelative + em;
      border-bottom: 1px solid var(--bdc-1-4);
      background-color: var(--bgc-0-0);
      transition: linear .2s;

      opacity: 0;
      visibility: hidden;
      // @extend .box-shadow-1;
    }
  }
  .header__toggle {
    @extend .button-clear;
    font-size: var(--h-5);
    color: var(--cf-2-0);
    @include media(m, $sm) {
      display: none;
    }
  }
  .header__toggle-close {
    @extend .button-clear;
    font-size: var(--h-5);
    color: var(--cf-2-0);
    display: none;
  }
}